/*сетка*/
.cards-set {
   display: flex;
   flex-wrap: wrap;
   margin-right: -30px;
   margin-bottom: -30px;
 }
 .cards-set__item {
   background-color: var(--primery-white-color);
   border: 1px solid #eeeeee;
   margin-right: 30px;
   margin-bottom: 30px;
   flex-basis: calc((100% - 90px) / 3);
 }