
.card-set{
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item{
  flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}
.card-set__item-port{
  background-color: var(--primery-white-color);
  border: 1px solid #eeeeee;
  // margin-right: 30px;
  // margin-bottom: 30px;
  flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}
