.btn--footer{
  align-items: center;
   text-align: center;
   
  @media screen and (min-width: 480px) and (max-width: 1199px){
   display: block;
   justify-content: center;
  
    margin-top: 20px;
   
  } 
   
  @media screen and (min-width: 1200px){
  
  display: inline-flex;
   
   margin-left: 12px;
   padding: 10px 29px;
 }
}

.icon-send {
  align-items: center;
   margin-left: 10px;
   fill: currentColor;
 }