.header {
 
  outline: 1px solid #eeeeee;
  background-color: #ffffff;

  // align-items: center;

  &__container {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    }
  // &--item:not(:last-child) {
  //     margin-right: 50px;
  //   }
}
.header__logo{
    color: #000000;
    margin-right: 88px;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and(min-width: 768px){
      margin-right: 93px;
    }
  
}
  .header__nav {
    display: none;

    @media screen and(min-width: 768px){
      display: block;
    }
//     display: flex;
//     align-items: center;
//   
  }


// .header-mobile{
//   display: none;
// }
.header-contact {
    display: none;

    @media screen and(min-width: 768px){
      display: block;
      font-size: 12px;
     line-height: 1.16;
      margin-left: auto;
      padding-top: 21px;
      padding-bottom: 21px;
    }

    @media screen and(min-width: 1200px){
      display: flex;
      font-size: 14px;
      line-height: 1.14;
      margin-left: auto;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
 
  transition: color 250ms var(--timing-function);

  &__link {
    display: flex;
    align-items: center;
    flex: aling-items;
    color: var(--main-text-color);
  }
  &--item:not(:last-child) {
    margin-right: 50px;
  }
  &__link:hover,
  &__link:focus,
  .accent,
  .current {
    color: var(--accent-color);
    outline: hidden;
  }
}

.mail-icon,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}
