
.hero {
   @extend %section;
   background-color: #2f303a;
   text-align: center;
   padding: 200px 0;
   width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url('../images/Img.jpg');
   background-color: #2f303a;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   &__title {
      font-weight: 900;
      font-size: 44px;
      width: 696px;
      text-align: center;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--primery-white-color);
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;
    }
}
 